<%= erb :_nav_bar, layout: false %>
<h2>Edit Goal: <%= @goal.name %></h2>
<form action="/goals/<%= @goal.id %>" method="post" class="edit-goal-form">
  <input type="hidden" name="_method" value="put">
  <%= erb :"goals/_goal_form", layout: false %>
  <p>Self-Rating: How did you do / how are you doing on this goal?</p>
  <select name="self_rating">
    <option></option>
    <% counter = 1 %>
    <% 10.times do %>
      <option value="<%= counter %>" <% if @goal.self_rating == counter %>selected="selected"<% end %>><%= counter %></option>
      <% counter += 1 %>
    <% end %>
  </select><br>
  <input type="submit" value="Save Changes">
  <a href="/users/<%= @user.id %>">
    <input type="button" value="Cancel">
  </a>
</form>