<div class="goal-listing">
  <div class="checkbox"></div>
  <h3><a href="/goals/<%= goal.id %>"><%= goal.name %></a></h3><br>
  <strong><%= goal.pillar.name %>:</strong> <%= goal.strand.name %><br>
  <% if goal.set_at < DateTime.current && !goal.is_completed %>
    <span class="active">
  <% else %>
    <span>
  <% end %>
  Start: <%= goal.set_at %></span><br>
  <% if goal.deadline < (DateTime.current + 3) && !goal.is_completed %>
    <span class="active">
  <% else %>
    <span>
  <% end %>
  Deadline: <%= goal.deadline %></span>
</div>